#cardsWrapper {
    padding: 16px;
}

#cardsScrollNav {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

#cardsScrollNav button {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l0);
    z-index: 2;
}

#cardsScroll {
    display: flex;
    position: static;
    flex-direction: row;
    scrollbar-width: none;
    scroll-behavior: smooth;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px 8px;
    width: 100%;
    gap: 8px;
}

#cardsScroll::-webkit-scrollbar {
    display: none;
}

.defaultCard {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 240px; /* important for the .cardsScroll */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l2);
    border-radius: 8px;
    cursor: pointer;
    padding: 16px 8px;
    z-index: 2;
    gap: 8px;
}

.defaultCard h3 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
}

.defaultCard h3 span {
    display: none;
}

.defaultCard:hover h3 i {
    color: var(--lx) !important;
    display: none;
}

.defaultCard:hover h3 span {
    display: block;
}

.defaultCard p {
    line-height: 1.4;
}

.defaultCard ul {
    display: flex;
    gap: 4px;
}

.defaultCard ul li {
    font-size: 12px;
}