.horizontalScrollNav {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
}

.scrollButton {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l0);
    z-index: 2;
}

.horizontalScroll {
    display: flex;
    position: static;
    flex-direction: row;
    scrollbar-width: none;
    scroll-behavior: smooth;
    height: fit-content;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 16px;
    width: 100%;
    gap: 8px;
}

.horizontalScroll::-webkit-scrollbar {
    display: none;
}

.defaultCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 240px; /* important for the .horizontalScroll */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l1);
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 2;
    gap: 8px;
}

.defaultCard ul {
    display: flex;
    gap: 4px;
}

.defaultCard ul li {
    font-size: 12px;
}

.defaultCard p {
    line-height: 1.4;
}