.Header {
    background: var(--l1);
    padding: 16px;
}

.HeaderWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.HeaderWrapper div {
    text-align: center;
}

.HeaderWrapper div h1 {
    font-weight: 600;
    font-size: 24px;
}

.HeaderWrapper nav {
    display: flex;
    justify-content: center;
    gap: 4px;
}

@media (width >= 320px) {

    .HeaderWrapper {
        justify-content: space-between;
        flex-direction: row;
        gap: unset;
    }
    
}