#labelsWrapper {
    padding: 16px;
}

#labelsInfo h2 {
    font-weight: 600;
    font-size: 18px;
}

#labelsList {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 8px;
    gap: 8px;
}

.defaultLabel {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l1);
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
}

.defaultLabel span {
    display: flex;
    width: 100%;
}

.defaultLabel span:first-child {
    align-items: center;
}

.defaultLabel:hover span:first-child i {
    color: var(--lx) !important;
}

.defaultLabel span:last-child {
    justify-content: space-between;
    gap: 8px;
}


.defaultLabel span:last-child small {
    font-size: 10px;
    font-weight: 600;
}