#listsWrapper {
    padding: 16px;
}

#listsGrid {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    gap: 8px;
}

.defaultList {
    display: flex;
    cursor: pointer;
    position: static;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    background: var(--l1);
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}

.defaultList h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

.defaultList h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 2px;
}

.defaultList:hover h3 i {
    color: var(--lx) !important;
}

.defaultList p {
    line-height: 1.2;
}

@media (width >= 960px) {

    #listsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .defaultList {
        grid-column: span 1;
    }

}

@media (width >= 1280px) {

    #listsGrid {
        grid-template-columns: repeat(3, 1fr);
    }

}