.labelsWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.counterHeading {
    font-weight: 600;
    font-size: 18px;
}

.listWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.defaultLi {
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l1);
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
}

.defaultLi span {
    display: flex;
    width: 100%;
}

.defaultLi span:first-child {
    align-items: center;
}

.defaultLi span:last-child {
    justify-content: space-between;
    gap: 8px;
}

.defaultLi span:last-child small {
    font-size: 10px;
}