.defaultWrapper {
    display: block;
    width: 100%;
}

@media (width >= 640px) {
    .defaultWrapper {
        max-width: 480px;
        margin: auto;
    }
}

@media (width >= 960px) {
    .defaultWrapper {
        max-width: 720px;
    }
}

@media (width >= 1280px) {
    .defaultWrapper {
        max-width: 960px;
    }
}

.viewInfo {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    gap: 4px;
}

.viewInfo h1 {
    display: flex;
    font-size: 24px;
    gap: 8px;
}

.viewInfo h2 {
    font-size: 20px;
}