.defaultWrapper {
    width: 100%;
    max-width: 960px;
    display: block;
    margin: auto;
}

.viewInfo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.viewInfo h1 {
    display: flex;
    font-size: 24px;
    gap: 8px;
}

.viewInfo h2 {
    font-size: 20px;
}

.viewInfo h1,
.viewInfo h2 {
    font-weight: 600;
}

.viewInfo p {
    line-height: 1.4;
}