.defaultWrapper {
    display: block;
    padding: 16px;
    width: 100%;
}

@media (width >= 480px) {
    .defaultWrapper {
        max-width: 320px;
        margin: auto;
    }
}

@media (width >= 720px) {
    .defaultWrapper {
        max-width: 480px;
    }
}

@media (width >= 1080px) {
    .defaultWrapper {
        max-width: 720px;
    }
}