#repositoriesWrapper div:first-child {
    padding: 16px;
}

#commitsList {
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 16px 8px;
    height: 85vh;
    gap: 8px;
}

#commitsList::-webkit-scrollbar {
    display: none;
}

#commitsList ul {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l2);
    border-radius: 8px;
    padding: 16px;
}

#commitsList ul:hover li:first-child {
    color: var(--l0) !important;
}

#commitsList ul li {
    line-height: 1.4;
}

#commitsList ul li:first-child {
    display: block;
    text-align: right;
}

#commitsList ul li:not(:first-child) {
    list-style: disc;
    list-style-position: inside;
}