#labelsWrapper {
    padding: 16px;
}

#labelsList {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 0px;
    gap: 8px;
}

.label {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l2);
    border-radius: 8px;
    font-size: 16px;
    padding: 12px;
}


.label h2 {
    display: flex;
    align-items: center;
}

.label:hover h2 i {
    color: var(--lx) !important;
}

.label h3 small {
    font-size: 10px;
    font-weight: 600;
}