#listsWrapper {
    padding: 16px;
}

#listsGrid {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    gap: 8px;
}

.list {
    display: flex;
    cursor: pointer;
    position: static;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-direction: column;
    background: var(--l2);
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}

.list h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: right;
}

.list h3 {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 2px;
}

.list:hover h3 i {
    color: var(--lx) !important;
}

.list p {
    line-height: 1.2;
}

@media (width >= 640px) {

    #listsGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .list {
        grid-column: span 1;
    }

}