.infoDiv {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.infoDiv h1 {
    display: flex;
    font-size: 24px;
    gap: 8px;
}

.infoDiv h2 {
    font-size: 20px;
}

.infoDiv h1,
.infoDiv h2 {
    font-weight: 600;
}

.infoDiv p {
    line-height: 1.4;
}

.scrollNav {
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    gap: 4px;
}

.scrollNav button {
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: var(--l0);
    z-index: 2;
}